---
import MainLayout from "../layouts/MainLayout.astro";

const articles = Object.values(
  import.meta.glob("./blog/**/*.{md,mdx}", { eager: true })
);

articles.sort((a: any, b: any) => {
  return (
    new Date(b.frontmatter.pubDate).getTime() -
    new Date(a.frontmatter.pubDate).getTime()
  );
});
---

<MainLayout active="blog">
  <div class="max-w-3xl mx-auto px-6 sm:px-0">
    <ul>
      {
        articles.map((post) => {
          const typedPost = post as {
            url: string;
            frontmatter: { title: string; pubDate: string };
          };
          const displayDate = new Date(
            typedPost.frontmatter.pubDate
          ).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
            timeZone: "UTC",
          });
          return (
            <li class="mb-2">
              <a
                href={typedPost.url}
                class="hover:text-zinc-500 transition-colors flex justify-between items-center"
              >
                <span class="text-lg">{typedPost.frontmatter.title}</span>
                <span class="text-zinc-400 text-base ml-4">{displayDate}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</MainLayout>
