---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Body from "../components/Body.astro";
import About from "../components/About.astro";
---

<html lang="en">
  <Head />
  <Body>
    <About />
  </Body>
</html>
