---
import "../styles/global.css";
---

<html lang="en" class="bg-zinc-900 text-stone-300">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicons/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.ico" />
    <link
      rel="preload"
      href="/fonts/Special-Elite.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>seagram.dev</title>
  </head>
  <body>
    <div class="max-w-[42rem] mx-auto px-6 pb-12 sm:px-0 sm:pb-8">
      <h1 class="font-special text-stone-300 text-4xl whitespace-nowrap mt-6">
        cal seagram
      </h1>
      <hr class="mt-4 mb-4 border-zinc-700" />
      <main>
        <div class="text-lg mt-4 space-y-3">
          <p>
            Hi. I'm Cal, a software engineering student in Montreal specializing
            in DevOps.
          </p>
          <p>
            I'm in my fourth year, minoring in Computer Science and Spanish.
          </p>
          <p>
            This fall, I joined McGill's AI Network Science research team, where
            I'm deploying cloud architecture for simulated social media
            platforms that test bot-detection algorithms.
          </p>
          <p>I work primarily with AWS, Kubernetes, Python, and Terraform.</p>
          <p>I'm currently working on:</p>
          <ul class="space-y-2 list-disc ml-4">
            <li>
              <a
                href="https://github.com/seagram/quill"
                class="link"
                target="_blank"
                rel="noopener noreferrer">quill</a
              >: A lightweight, extensible markup language for writing
              screenplays.
            </li>
            <li>
              <a
                href="https://github.com/seagram/typst-mcp"
                class="link"
                target="_blank"
                rel="noopener noreferrer">typst-mcp</a
              >: RAG-based MCP server for the Typst markup language.
            </li>
            <li>
              <a
                href="https://github.com/seagram/pyfountain"
                class="link"
                target="_blank"
                rel="noopener noreferrer">pyfountain</a
              >: Parser, linter, formatter, and LSP for the Fountain screenplay
              format.
            </li>
            <li>
              <a
                href="https://github.com/seagram/claro"
                class="link"
                target="_blank"
                rel="noopener noreferrer">claro</a
              >: Website for practicing spanish verb conjugations.
            </li>
            <li>
              <a
                href="https://github.com/seagram/homelab"
                class="link"
                target="_blank"
                rel="noopener noreferrer">homelab</a
              >: Kubernetes homelab to self-host open source software.
            </li>
          </ul>
        </div>
        <div class="mt-4 text-lg">
          <p>
            I can be contacted at <a
              href="mailto:seagramdev@gmail.com"
              class="link">seagramdev@gmail.com</a
            >, or through <a
              href="https://github.com/seagram"
              class="link"
              target="_blank"
              rel="noopener noreferrer">GitHub</a
            > and <a
              href="https://linkedin.com/in/seagram"
              class="link"
              target="_blank"
              rel="noopener noreferrer">LinkedIn</a
            >.
          </p>
        </div>
      </main>
    </div>
  </body>
</html>
