---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout active="about">
  <div class="text-lg mt-4 space-y-3">
    <p>
      Hi. I'm Cal, a software engineering student in Montreal specializing in
      DevOps.
    </p>
    <p>I'm in my fourth year, minoring in Computer Science and Spanish.</p>
    <p>
      This fall, I joined McGill's AI Network Science research team, where I'm
      deploying cloud architecture for simulated social media platforms that
      test bot-detection algorithms.
    </p>
    <p>I work primarily with AWS, Kubernetes, Python, and Terraform.</p>
    <p>I'm currently working on:</p>
    <ul class="space-y-2 list-disc ml-4">
      <li>
        <Link href="https://github.com/seagram/quill">quill</Link>: A
        lightweight, extensible markup language for writing screenplays.
      </li>
      <li>
        <Link href="https://github.com/seagram/typst-mcp">typst-mcp</Link>:
        RAG-based MCP server for the Typst markup language.
      </li>
      <li>
        <Link href="https://github.com/seagram/pyfountain">pyfountain</Link>:
        Parser, linter, formatter, and LSP for the Fountain screenplay format.
      </li>
      <li>
        <Link href="https://github.com/seagram/claro">claro</Link>: Website for
        practicing spanish verb conjugations.
      </li>
      <li>
        <Link href="https://github.com/seagram/homelab">homelab</Link>:
        Kubernetes homelab to self-host open source software.
      </li>
    </ul>
  </div>
  <div class="mt-4">
    <Link href="https://github.com/seagram"> github </Link>
    <span class="mx-2 text-zinc-500">/</span>
    <Link href="https://linkedin.com/in/seagram"> linkedin </Link>
    <span class="mx-2 text-zinc-500">/</span>
    <Link href="mailto:cal@seagram.dev"> email </Link>
  </div>
</MainLayout>
