@font-face {
  font-display: swap;
  font-family: "Special Elite";
  font-weight: normal;
  font-style: normal; /* 400 */
  src: url("/fonts/Special-Elite-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Crimson-Pro-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Crimson-Pro-400-Italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Crimson-Pro-600.woff2") format("woff2");
}
