---
import Prose from "../components/Prose.astro";
const { frontmatter } = Astro.props;
const displayDate = new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC",
});
---

<html lang="en" style="background-color: #EEE;">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body
    style="margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background-color: #EEE; -webkit-font-smoothing: none; -moz-osx-font-smoothing: unset; font-smooth: never; text-rendering: optimizeSpeed;"
  >
    <article style="max-width: 800px; margin: 0 auto;">
      <header>
        <h1>
          {frontmatter.title}
        </h1>
        <p>
          {displayDate}
        </p>
      </header>
      <Prose>
        <slot />
      </Prose>
      <footer style="text-align: center; margin-bottom: 2rem;">
        <a href="/">&lt;- back</a>
      </footer>
    </article>
  </body>
</html>
