.DS_Store
**/.DS_Store

**/.terraform/*
*.tfstate
*.tfstate.*
.terraform/
*/.terraform.lock.hcl

**/backend.conf

**/*.auto.tfvars

node_modules
dist

*.bak
*.tfvars

*.md
!README.md
!website/src/pages/blog/*.md
.astro
**/.env
**/drafts/
Justfile
.secrets