# terraform
**/.terraform/
*.tfvars
*.tfstate
*/.terraform.lock.hcl
!**/tags.auto.tfvars

# astro
node_modules
dist
.astro

# python
**/.env
**/.venv/

# macos
**/.DS_Store

# general
*.bak
*.md
!README.md