---
import { ClientRouter } from "astro:transitions";
import ArticleBox from "../components/ArticleBox.astro";
import NavBar from "../components/NavBar.astro";
import Head from "../components/Head.astro";
---

<html lang="en" class="bg-zinc-900 text-stone-300">
  <Head />
  <body>
    <ClientRouter />
    <NavBar active="blog" />
    <ArticleBox />
  </body>
</html>
