---
import { ClientRouter } from "astro:transitions";
import NavBar from "../components/NavBar.astro";
import Head from "../components/Head.astro";
---

<html lang="en" class="bg-zinc-900 text-stone-300">
  <Head />
  <body>
    <ClientRouter />
    <NavBar active="contact" />
    <div class="mt-6 flex justify-center">
      <div class="max-w-max text-center">
        <div class="flex flex-col gap-4 items-center text-lg">
          <a
            href="https://www.linkedin.com/in/seagram/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-stone-300 hover:text-zinc-500 transition-colors"
          >
            linkedin
          </a>
          <a
            href="https://github.com/seagram"
            target="_blank"
            rel="noopener noreferrer"
            class="text-stone-300 hover:text-zinc-500 transition-colors"
          >
            github
          </a>
          <a
            href="mailto:cal@seagram.dev"
            class="text-stone-300 hover:text-zinc-500 transition-colors"
          >
            email
          </a>
          <a
            href="https://www.imdb.com/name/nm5077771/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-stone-300 hover:text-zinc-500 transition-colors"
          >
            imdb
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
