---
import { ClientRouter } from "astro:transitions";
import NavBar from "../components/NavBar.astro";
import Prose from "../components/Prose.astro";
import Head from "../components/Head.astro";
const { frontmatter } = Astro.props;
---

<html lang="en" class="bg-zinc-900">
  <Head />
  <body>
    <ClientRouter />
    <NavBar active="article" class="text-xl" />
    <article class="my-10 px-6 sm:px-0">
      <header class="text-left max-w-3xl mx-auto mb-6">
        <h1 class="text-stone-300 text-3xl mb-1">
          {frontmatter.title}
        </h1>
        <p class="text-xl mt-0 text-zinc-400">
          {frontmatter.date}
        </p>
      </header>
      <Prose>
        <slot />
      </Prose>
    </article>
  </body>
</html>
