---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import NavBar from "../components/NavBar.astro";
import FontPreloadLinks from "../components/FontPreloadLinks.astro";
---

<html lang="en" class="bg-zinc-900 text-stone-300">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicons/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.ico" />
    <FontPreloadLinks />
    <title>seagram.dev</title>
  </head>
  <body>
    <ClientRouter />
    <h1 class="font-special text-4xl mt-8 mb-6 text-center whitespace-nowrap">
      cal seagram
    </h1>
    <NavBar active="contact" />
    <div class="mt-6 flex justify-center">
      <div class="max-w-max text-center">
        <div class="flex flex-col gap-4 items-center">
          <a
            href="mailto:cal@seagram.dev"
            class="text-stone-300 hover:text-zinc-500 transition-colors"
          >
            email
          </a>
          <a
            href="https://github.com/seagram"
            target="_blank"
            rel="noopener noreferrer"
            class="text-stone-300 hover:text-zinc-500 transition-colors"
          >
            github
          </a>
          <a
            href="https://www.imdb.com/name/nm5077771/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-stone-300 hover:text-zinc-500 transition-colors"
          >
            imdb
          </a>
          <a
            href="https://www.linkedin.com/in/seagram/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-stone-300 hover:text-zinc-500 transition-colors"
          >
            linkedin
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
