---
import "@fontsource/special-elite";
import InfoBox from "../components/InfoBox.astro";
import ArticleBox from "../components/ArticleBox.astro";
import LinkIcons from "../components/LinkIcons.astro";
import TitleText from "../components/TitleText.astro";
import HeaderText from "../components/HeaderText.astro";
import SubHeaderText from "../components/SubHeaderText.astro";
import LanguageIcons from "../components/LanguageIcons.astro";
import SystemIcons from "../components/SystemIcons.astro";
import { ClientRouter } from "astro:transitions";
---

<html lang="en" class="bg-zinc-900 text-stone-300">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicons/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.ico" />
    <title>seagram.dev</title>
    <ClientRouter />
  </head>
  <body class="mb-16">
    <TitleText text="cal seagram" />
    <InfoBox />
    <SubHeaderText text="languages" />
    <LanguageIcons />
    <SubHeaderText text="systems" />
    <SystemIcons />
    <HeaderText text="articles" />
    <ArticleBox />
    <LinkIcons />
  </body>
</html>
