---
import { ClientRouter } from "astro:transitions";
import ArticleBox from "../components/ArticleBox.astro";
import NavBar from "../components/NavBar.astro";
import FontPreloadLinks from "../components/FontPreloadLinks.astro";
---

<html lang="en" class="bg-zinc-900 text-stone-300">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicons/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.ico" />
    <FontPreloadLinks />
    <title>seagram.dev</title>
  </head>
  <body>
    <ClientRouter />
    <h1 class="font-special text-4xl mt-8 mb-6 text-center whitespace-nowrap">
      cal seagram
    </h1>
    <NavBar active="writing" />
    <ArticleBox />
  </body>
</html>
