---
import "../styles/global.css";
const articles = Object.values(
  import.meta.glob("../pages/posts/*.{md,mdx}", { eager: true })
);

articles.sort((a: any, b: any) => {
  const orderA = a.frontmatter.order ?? Infinity;
  const orderB = b.frontmatter.order ?? Infinity;
  return orderA - orderB;
});
---

<div class="m-auto max-w-max">
  <ul>
    {
      articles.map((post) => {
        const typedPost = post as {
          url: string;
          frontmatter: { title: string };
        };
        return (
          <li class="p-2">
            <a
              href={typedPost.url}
              class="font-garamond hover:underline sm:text-base text-sm"
            >
              {typedPost.frontmatter.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
