---
import "../styles/global.css";
---

<div class="flex justify-center">
  <div class="max-w-max text-black text-center sm:text-base">
    <p>software engineering student in montreal</p>
    <p>focusing on dev ops and IT administration</p>
    <p>writing neovim configurations & plugins</p>
    <p>i enjoy bodybuilding, reading, and jazz</p>
  </div>
</div>
