---
import { Icon } from "astro-icon/components";

const iconNames = ["bash", "lua", "python", "ts", "go"];
---

<div class="flex justify-center items-center space-x-4">
  {iconNames.map((name) => <Icon name={name} width={56} height={56} />)}
</div>
<div class="flex justify-center items-center text-sm mt-1">
  <p class="text-center text-base my-1">* and spanish</p>
</div>
