---
import github from "../assets/icons/github.svg";
import linkedin from "../assets/icons/linkedin.svg";
---

<div class="flex justify-center items-center mt-4">
  <a
    href="https://github.com/seagram"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-110 transition-transform duration-200"
  >
    <img src={github.src} alt="Github Logo" class="w-10 h-10 mr-2" />
  </a>
  <a
    href="https://www.linkedin.com/in/seagram"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:scale-110 transition-transform duration-200"
  >
    <img src={linkedin.src} alt="LinkedIn Logo" class="w-10 h-10 ml-2" />
  </a>
</div>
