<div
  class="prose-headings:text-center
  prose-headings:text-3xl
  prose-headings:mb-2
  prose-h1:text-3xl
  prose-h1:mt-10
  prose-h1:mb-2
  prose-p:leading-relaxed
  prose-p:whitespace-pre-line
  prose-p:mb-6
  prose-p:text-xl
  prose-img:mx-auto
  prose-img:my-10
  prose-pre:my-5
  prose-pre:bg-zinc-800
  prose-pre:p-4
  prose-pre:text-base
  prose-pre:rounded-2xl
  prose-code:text-base
  prose-ul:list-disc
  prose-ul:pl-8
  prose-ul:mb-4
  prose-ul:text-xl
  prose-ol:list-decimal
  prose-ol:pl-8
  prose-ol:mb-4
  prose-ol:text-xl"
>
  <slot />
</div>
