<div
  class="prose-headings:text-center
  prose-headings:text-2xl
  prose-headings:mt-10
  prose-headings:mb-2
  prose-p:text-justify
  prose-img:mx-auto
  prose-img:my-10
  prose-pre:my-5
  prose-pre:bg-orange-100
  prose-li:my-1"
>
  <slot />
</div>
