---
---
<div class="prose text-white font-mono prose-p:leading-loose prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-headings:text-white prose-p:text-white prose-a:text-white prose-strong:text-white prose-em:text-white prose-blockquote:text-white prose-code:text-white prose-pre:text-white prose-li:text-white prose-h1:text-center prose-h2:text-center prose-h3:text-center prose-img:mx-auto mx-auto text-sm sm:text-base">
  <slot />
</div>