---
import { Icon } from "astro-icon/components";

const iconNames = [
  "aws",
  "postgres",
  "kubernetes",
  "ansible",
  "terraform",
  "jenkins",
];
---

<div class="flex justify-center items-center space-x-4">
  {iconNames.map((name) => <Icon name={name} width={56} height={56} />)}
</div>
