<div class="text-lg space-y-2">
  <p>
    Hi. I'm Cal, a software engineering student in Montreal specializing in
    DevOps.
  </p>
  <p>I'm in my fourth year, minoring in Computer Science and Spanish.</p>
  <p>I work primarily with AWS, Kubernetes, Rust, Python, and Terraform.</p>
  <p>I'm currently focused on:</p>
  <ul style="list-style-type: square; margin-left: 0; padding-left: 20px;">
    <li>
      <a
        href="https://github.com/seagram/homelab"
        class="link"
        target="_blank"
        rel="noopener noreferrer">homelab</a
      >: Kubernetes cluster to self-host open source software.
    </li>
    <li>
      <a
        href="https://github.com/seagram/fountain-rs"
        class="link"
        target="_blank"
        rel="noopener noreferrer">fountain-rs</a
      >: A screenplay markup language, rewritten in Rust.
    </li>
  </ul>
  <p>
    I can be reached by <a href="mailto:seagramdev@gmail.com" class="link"
      >email</a
    >, <a
      href="https://github.com/seagram"
      class="link"
      target="_blank"
      rel="noopener noreferrer">GitHub</a
    > or <a
      href="https://linkedin.com/in/seagram"
      class="link"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a
    >.
  </p>
</div>
