<table
  border="0"
  cellpadding="60"
  cellspacing="0"
  style="width: 100%; max-width: 800px; background-color: white; border: 2px solid #3A5998; box-sizing: border-box;"
>
  <tr>
    <td style="vertical-align: top;">
      <main style="margin-left: 20px;">
        <div class="text-lg mt-4 space-y-3">
          <p>
            Hi. I'm Cal, a software engineering student in Montreal
            specializing in DevOps.
          </p>
          <p>
            I'm in my fourth year, minoring in Computer Science and
            Spanish.
          </p>
          <p>
            I work primarily with AWS, Kubernetes, Rust, Python, and
            Terraform.
          </p>
          <p>I'm currently working on:</p>
          <ul
            style="list-style-type: square; margin-left: 0; padding-left: 20px;"
          >
            <li>
              <a
                href="https://github.com/seagram/homelab"
                class="link"
                target="_blank"
                rel="noopener noreferrer">homelab</a
              >: Kubernetes homelab to self-host open source software.
            </li>
            <li>
              <a
                href="https://github.com/seagram/quill"
                class="link"
                target="_blank"
                rel="noopener noreferrer">quill</a
              >: A fast, modern toolchain for writing screenplays.
            </li>

            <li>
              <a
                href="https://github.com/seagram/nym"
                class="link"
                target="_blank"
                rel="noopener noreferrer">nym</a
              >: A modern alias manager for your shell.
            </li>
          </ul>
        </div>
        <div class="mt-4 mb-4 text-lg">
          <p>
            I can be reached by <a
              href="mailto:seagramdev@gmail.com"
              class="link">email</a
            >, or through <a
              href="https://github.com/seagram"
              class="link"
              target="_blank"
              rel="noopener noreferrer">GitHub</a
            > and <a
              href="https://linkedin.com/in/seagram"
              class="link"
              target="_blank"
              rel="noopener noreferrer">LinkedIn</a
            >.
          </p>
        </div>
      </main>
    </td>
  </tr>
</table>
