---
const {
  active = "about",
  onSelect,
  class: additionalClasses = "",
  maxWidth = "max-w-3xl",
} = Astro.props;
const navItems = [
  { label: "about", href: "/", key: "about" },
  { label: "blog", href: "/blog", key: "blog" },
];
---

<div class={`${maxWidth} mx-auto px-6 sm:px-0`}>
  <nav class="flex justify-between items-baseline mt-6">
    <h1 class="font-special text-stone-300 text-4xl whitespace-nowrap">
      cal seagram
    </h1>
    <div
      class={`font-special whitespace-nowrap flex flex-wrap justify-end gap-x-2 gap-y-2 sm:gap-x-4 ${additionalClasses}`}
    >
      {
        navItems.map(({ label, href, key }) => (
          <a
            href={href}
            class={[
              "px-2 transition-colors",
              "text-2xl sm:text-2xl",
              active === key
                ? "text-stone-300"
                : "text-zinc-500 hover:text-stone-300",
            ].join(" ")}
          >
            {label}
          </a>
        ))
      }
    </div>
  </nav>
</div>
