---
import "../styles/global.css";
import Prose from "../components/Prose.astro";
import "@fontsource-variable/eb-garamond";
import { ClientRouter } from "astro:transitions";
const { frontmatter } = Astro.props;
---

<html lang="en" class="bg-zinc-900 text-stone-300 font-eb-garamond">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>seagram.dev</title>
    <ClientRouter />
  </head>
  <body>
    <article class="mx-auto max-w-3xl my-10 px-6 sm:px-0">
      <header class="text-center">
        <h1 class="text-2xl sm:text-3xl lg:text-4xl mb-2">
          {frontmatter.title}
        </h1>
        <p class="text-lg sm:text-xl mb-4">
          {frontmatter.date}
        </p>
      </header>
      <Prose> <slot /></Prose>
    </article>

    <style>
      .tidal-embed-iframe {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      @media (min-width: 768px) {
        .tidal-embed-iframe {
          width: 40%;
        }
        .album-separator {
          width: 40%;
        }
      }
    </style>
  </body>
</html>
